<!DOCTYPE html>
<html>
  <head>
    <title><%=yield(:title) %> | Bakery</title>
    <%= csrf_meta_tags %>
    	    <h1>Welcome to the Bakery</h1>
    <!--	Bootstrap	-->						
  	<link	rel="stylesheet"	href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" >	
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
     <%= render 'layouts/header'%> 
     <div class="container"> 
        <%= yield %> 
     </div> 
     <%= render 'layouts/footer'%>
     <!--	jQuery	(necessary	for	Bootstrap's	JavaScript	plugins)	-->				
    <script	src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"> </script>				<!--	Include	all	compiled	plugins	(below),	or	include	individual	files	as	needed	-->				<script	src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"> </script>	
    <script	src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"> </script>
  </body>
</html>
