<!DOCTYPE html>
<html>
  <head>
    <title><%=yield(:title) %> | Bakery</title>
    <%= csrf_meta_tags %>
    
    
    <h1>Welcome to the Bakery!</h1>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  

  <body>
  
  <br>
  
  <h1><center>We make your sweet dreams come true...</center></h1>
  
   <div class="container"> 
    <%= yield %> 
    </div> 
  <br>
    <br>
     <br>
    <br>
     <br>
    <br>
 
 
   
  </body>
</html>